<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="tabla">Tabla</a></li>
      <li><a routerLink="form">Formulario</a></li>
      <li><a routerLink="dashboard">Home</a></li>
    </ul>
  </div>
</nav>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- <nav>
  <a routerLink="tabla">Tabla</a>
  <br>
  <a routerLink="form">Fromulario</a>
  <br>
  <a routerLink="dashboard">Home</a>
  
</nav> -->
<router-outlet></router-outlet>