<div>
    <br>
    <br>
    <form [formGroup]="formGroup">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="name">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Correo" formControlName="email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña" formControlName="contrasena">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>


              <mat-form-field hintLabel="Maximo 10 digitos">
                <mat-label>Numero</mat-label>
                <input matInput #input maxlength="10" placeholder="Numero" formControlName="numero">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
              </mat-form-field>
        <button (click)="submit()" [disabled]="formGroup.invalid">enviar</button>
    </form>
</div>
