<div class="form-container">
    <form [formGroup]="formGroup" class="form">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Position</mat-label>
            <input matInput placeholder="Position" formControlName="position" type="number">
            <mat-icon matSuffix>format_list_numbered</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Weight</mat-label>
            <input matInput placeholder="Weight" formControlName="weight" type="number">
            <mat-icon matSuffix>fitness_center</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Symbol</mat-label>
            <input matInput placeholder="Symbol" formControlName="symbol">
            <mat-icon matSuffix>label</mat-icon>
        </mat-form-field>
  
        <button (click)="submit()" [disabled]="formGroup.invalid" class="submit-btn">Submit</button>
    </form>
  </div>
  